.competence {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  height: 18rem;
  padding: 2.5rem 1.25rem;
  margin: 0 auto;
  background-color: #232730;
  gap: 6.25rem;
  margin-bottom: 2rem;
}

.competence h2 {
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-left: 2rem;
}

.local p {
  color: #c9cacf;
  font-size: 20px;
  line-height: 36px;
  margin-left: 2rem;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4rem;
  column-gap: 4rem;
}

@media (max-width: 900px) {
  .competence {
    grid-template-columns: 1fr;
    height: auto;
  }
  .competence h2 {
    font-size: 2rem;
    margin-left: 0px;
  }

  .competence p {
    margin-left: 0px;
  }

  .tecnologia {
    margin-top: 2rem;
  }
}

@media (max-width: 500px) {

  .competence {
    margin-bottom: 0px;
  }

  .tecnologia {
    margin-top: 0px;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
}
